.table-responsive {
    overflow-y: auto;
    max-height: 600px;
    border: 1px solid #dee2e6;
}

.first-cl {
    width: 10%;
    min-width: 30px;
}

.second-cl {
    width: 80%;
}

.third-cl {
    width: 10%;
    min-width: 75px;
}

.clickable {
    cursor: pointer;
}

.clickable:hover {
    text-decoration: underline;
}

table {
    border-collapse: inherit !important;
}

table tr {
    vertical-align: middle;
    
}

table th {
   position: sticky;
   top:0;
}

table th, table td {
    text-align: center;
}
